<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chanstagram</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#" th:href="@{/}">타임라인</a></li>
                <li role="presentation"><a href="#" th:href="@{/board/create}">게시글 작성</a></li>
                <li role="presentation"><a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username} 프로필|">프로필</a></li>
                <li role="presentation"><a href="#" th:href="@{/user/logout}">로그아웃</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Chanstagram</h3>
    </div>
    <br>

    <div class="jumbotron">
        <h2 th:if="${boardlist.empty}">게시글이 없습니다 :(</h2>
        <p class="lead">팔로우 할 사용자 추천</p>
        <h5>랜덤으로 5명의 사용자를 추천합니다.</h5>

        <a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username}|">users</a>&nbsp;
        <a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username}|">users</a>&nbsp;
        <a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username}|">users</a>&nbsp;
        <a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username}|">users</a>&nbsp;
        <a href="#" th:href="@{/user/} + ${user.username}" th:text="|${user.username}|">users</a>
    </div>

    <div id="boards" class="row marketing">

        <div class="board col-lg-6" th:each="tboard : ${boardlist}">
            <h4>
                <a href="#" th:href="@{/user/} + ${tboard.username}" th:text="${tboard.username}"></a>&nbsp;&nbsp;&nbsp;
            </h4>
            <h5>
                <span th:text="|작성 시간 ${#temporals.format(tboard.board.dateTime, 'yyyy-MM-dd HH:mm')}|"></span>
            </h5><hr>
            <h3>
                <p style="center;" th:text="${tboard.board.title}">title</p>
            </h3><br>
            <h4>
                <p th:text="${tboard.board.content}">content</p>
            </h4><br><br>
            <h5>
                <a id="heart" herf="#" class="doNotSupport">좋아요</a><span> 개수</span>
                <span th:text="${#lists.size(tboard.likeList)}"></span>&nbsp;&nbsp;&nbsp;

                <span>등록된 댓글</span>
                <span th:text="${#lists.size(tboard.commentList)}"></span>
            </h5>

            <hr>

            <div th:each="comment : ${tboard.commentList}">
                <h5>
                    <a href="#" th:href="@{/user/} + ${comment.username}" th:text="${comment.username}"></a>&nbsp;&nbsp;&nbsp;
                    <span th:text="|작성 시간 ${#temporals.format(comment.dateTime, 'yyyy-MM-dd HH:mm')}|"></span>
                </h5>
                <p th:text="${comment.content}"></p>
                <hr>
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="comment" placeholder="댓글을 입력해 주세요..." name="comment">
                </div>
                <button type="submit" class="btn btn-default doNotSupport">댓글 입력</button>
            </form>

        </div>

    </div>

    <footer class="footer">
        <p>&copy; 2020 hongchan</p>
    </footer>

</div> <!-- /container -->

<script th:src="@{/webjars/jquery/2.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.6/dist/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:inline="javascript">

    let page = 0;
    $(window).scroll(function() {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            page++;
            ajaxCall();
        }
    });


    /* <![CDATA[ */
    const defaultUrl = /*[[ @{/timeline/scroll} ]]*/ "defaultUrl";
    const csrfHeaderName = /*[[ ${_csrf.headerName} ]]*/ "default";
    const csrfToken = /*[[ ${_csrf.token} ]]*/ "default";

    function ajaxCall() {

        const requestUrl = defaultUrl + "?page=" + page + "&size=10&sort=board_DateTime,DESC";

        $.ajax({
            url: requestUrl,
            type: "get",
            dataType: "json",
            beforeSend: function (xhr) {
                // Spring Security Setting

                xhr.setRequestHeader(csrfHeaderName, csrfToken);
            },
            success: successFunc,
            error: function (request, status, error) {
                alert("타임라인 요청 실패");
                alert(error);
            }
        });
    }

    function successFunc(response) {
        // Response Type : TimelineBoard JSON
        console.log(response);

        for(let i = 0; i < Object.keys(response).length; i++) {
            let htmlText = "<div class=\"board col-lg-6\"\">";
            htmlText += "<h4>";
            htmlText += "<a href=/user/" + response[i].board.writeUser.username + " > " + response[i].board.writeUser.username + "</a>&nbsp;&nbsp;&nbsp";
            htmlText += "</h4>";
            htmlText += "<h5>";
            htmlText += "<span>작성 시간 " + response[i].board.dateTime.slice(0, 10) + " " + response[i].board.dateTime.slice(11, 16) + "</span>";
            htmlText += "</h5><hr>";
            htmlText += "<h3>";
            htmlText += "<p style=\"center;\">" + response[i].board.title + "</p>"
            htmlText += "</h3><br>";
            htmlText += "<h4>";
            htmlText += "<p>" + response[i].board.content + "</p>"
            htmlText += "</h4><br><br>";
            htmlText += "<h5>";
            htmlText += "<a id=\"heart\" herf=\"#\" class=\"doNotSupport\">좋아요</a><span> 개수</span>";
            htmlText += "<span> " + Object.keys(response[i].likeList).length + "</span>&nbsp;&nbsp;&nbsp;";
            htmlText += "<span>등록된 댓글 </span>";
            htmlText += "<span>" + Object.keys(response[i].commentList).length + "</span>";
            htmlText += "</h5>";
            htmlText += "<hr>";

            for(let j = 0; j < Object.keys(response[i].commentList).length; j++) {
                htmlText += "<div>";
                htmlText += "<h5>";
                htmlText += "<a href=/user/" + response[i].commentList[j].username + " > " + response[i].commentList[j].username + "</a>&nbsp;&nbsp;&nbsp";
                htmlText += "<span>작성 시간 " + response[i].commentList[j].dateTime.slice(0, 10) + " " + response[i].commentList[j].dateTime.slice(11, 16) + "</span>";
                htmlText += "</h5>";
                htmlText += "<p>" + response[i].commentList[j].content + "</p>";
                htmlText += "<hr>";
                htmlText += "</div>";
            }

            htmlText += "<form class=\"form-inline\">";
            htmlText += "<div class=\"form-group\">";
            htmlText += "<input type=\"text\" class=\"form-control\" id=\"comment\" placeholder=\"댓글을 입력해 주세요...\" name=\"comment\">";
            htmlText += "</div>";
            htmlText += "<button type=\"submit\" class=\"btn btn-default doNotSupport\">댓글 입력</button>";
            htmlText += "</form>";
            htmlText += "</div>";

            $("#boards").append(htmlText);
        }
    }

    $(".doNotSupport").click(function(){
        alert("아직 지원하지 않는 기능입니다.");
    });
    /* ]]> */


    // <a href="#" th:href="@{/user/}" + response[0].board.writeUser.username>response[0].board.writeUser.username</a>&nbsp;&nbsp;&nbsp;


</script>

</body>
</html>